@import '_pane.variables.scss';

.pane-container {
    // overflow: hidden;
    background: lightblue;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 $pane-border-radius 0 black;
    border-radius: $pane-border-radius;

    &.dragging {
        box-shadow: 5px 5px 20px 0 black;
    }
}

:host {
    position: absolute;
}
